@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic */
/* :root {
  --black1: rgba(0, 0, 0, 0.9);
  --black2: rgba(0, 0, 0, 0.5);
  --black3: rgba(0, 0, 0, 0.4);
}
html {
  margin: 0;
}
.page-header {
  color: var(--black1);
  text-align: center;
  font-size: 6rem;
  font-weight: bolder;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 100%;
  margin-bottom: 2rem;
}
.subtitle {
  color: var(--black2);
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.text {
  width: min(90%, 800px);
  line-height: 200%;
  margin: auto;
  color: var(--black3);
  font-size: 1rem;
  margin-bottom: 2rem;
}
.break {
  width: min(90%, 800px);
  color: var(--black3);
  margin: auto;
  margin-bottom: 3rem;
}
.section-header {
  color: var(--black1);
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  margin-left: 1rem;
  margin-right: 1rem;
}
.space {
  height: 100px;
}
.table {
  width: min(90%, 800px);
  margin: auto;
  text-align: center;
}

form {
  margin: auto;
}
input {
  margin: auto;
  width: min(90%, 800px);
}
.TextField {
  width: min(90%, 800px);
  color: read;
  margin: auto;
  display: flex;
  justify-content: center;
}
header {
  color: var(--black1);
  text-align: center;
  font-size: 6rem;
  font-weight: bolder;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 100%;
  margin-bottom: 2rem;
} */
/* label {
  display: block;
  width: 100%;
  margin: auto;
  width: min(90%, 800px);
} */
